{
    "parser":  "@typescript-eslint/parser",
    "extends":  [
        "plugin:@typescript-eslint/recommended"
    ],
    "env": {
        "browser": true,
        "node": true
    },
    "parserOptions":  {
        "ecmaVersion":  2015,
        "sourceType":  "module"
    },
    "ignorePatterns": [
        "dist/",
        "node_modules/"
    ],
    "rules":  {
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-non-null-assertion": 0,
        "@typescript-eslint/member-delimiter-style": 0
    }
}